@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,200&family=Poppins:wght@300&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

body
{
    background-color: black;
}

h1
{
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
    color: white;
    letter-spacing: 2px;
}

.container
{
    padding: 10px;
    width: 98%;
}

form
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

form>input
{
    background-color: transparent;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

form>button
{
    grid-row-start: 3;
    grid-column-start: 1;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

#editBtn
{
    display: none;
    

}

form>button:hover
{
    transform: scale(1.05);
}



form > * {
    
    height: 50px;
  }

#search
{
    width: 99%;
    margin-top: 35px;
    background-color: transparent;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    color: white;
    height: 50px;
}

.my-table
{
   
    margin-top: 25px;
    color: white;
    width: 100%;
    border-collapse: collapse;
    
}

th,td
{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

td:nth-child(6){
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .edit-buttons{
     display: flex;
     gap: 8px;
 }

